/*--------reset--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------body--------*/
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*--------container layout--------*/
.card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 380px;
    border-radius: 10px;
}

/*--------image--------*/
.content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*--------heading--------*/
.content h1 {
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
    padding: 0 10px;
      
}

.content p {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
    padding: 0 30px;
}

/*--------attribution--------*/
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*--------responsive--------*/
@media (max-width: 400px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .container h1 {
        font-size: 1.2rem;
    }

    .container p {
        font-size: 0.9rem;
    }
}

/* End of frontend.css */
